HOST=0.0.0.0
PORT=8000
CORS_ORIGINS=http://localhost:3000
FRONTEND_BASE_URL=http://localhost:3000
GOOGLE_GMAIL_CLIENT_FILE=backend/client_secret_85059536575-cpi6d8jg0f8jnim6f1lekc4ep7h52821.apps.googleusercontent.com.json
GOOGLE_GMAIL_TOKEN_FILE=backend/google_token.json
EMAIL_CONFIRMATION_SUBJECT=Confirme seu cadastro
